.vs/slnx.sqlite
.vs/kellychiangkaryan.github.io.slnx/FileContentIndex/58dc267d-d84c-413d-86d1-d41795c9e6d2.vsidx
.vs/ProjectSettings.json
.vs/kellychiangkaryan.github.io.slnx/FileContentIndex/05b77b0e-e350-4fb0-b3e6-e6bd1606e80d.vsidx
.vs/kellychiangkaryan.github.io.slnx/FileContentIndex/d366afc6-f8cf-4e01-8d2f-e3bd7919ad60.vsidx
